<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="ml-4 navbar-brand" href="#">Carlos Gonzalez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button mat-button>Experience</button>
            </li>
            <li class="nav-item active">
                <button mat-button>Contact</button>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 mr-5">
            <button mat-raised-button color="primary">About</button>
        </div>
    </div>
</nav> -->

<div class="navbar-component">
    <div class="navbar">
        <div class="row navbar-container">
            <div class="navbar-header-item-col flex">
                Carlos Gonzalez
            </div>
            <!-- <div class="navbar-item-col flex">
                <button mat-button>Experience</button>
            </div> -->
            <div class="navbar-item-col flex justify-content-end">
                <button mat-raised-button class="mr-1" color="primary">Contact</button>

            </div>

        </div>

    </div>


</div>