<div class="navbar-component">
    <div class="navbar-container">
        <div class="row nav pt-3 pb-3">
            <div class="navbar-header-item-col flex">
                CG
            </div>
            <div class="navbar-item-col flex justify-content-end mr-2">

                <div id="container" (click)="animateIcon()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>