<!DOCTYPE html>
<div class="top-banner-component animated">
    <div class=" row top-banner full-height">
        <!-- <div class="banner-left-col flex justify-content-center">
            <div class="row justify-content-center">
                <img class="banner-profile-picture" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/19437215_10156297028102564_3645964650910157043_n.jpg?_nc_cat=0&oh=2fe2e7df62f01d9c8a1a1002a130f9c9&oe=5BEF64EC">
            </div>
            <div class="row justify-content-center">
                <h3 class="mb-0">CG</h3>
            </div>
            <div class="row justify-content-center">
                <h5 class="mt-0">Software Developer</h5>
            </div>
        </div>
        <div class="banner-right-col flex justify-content-center">
            center
        </div> -->
        <video autoplay loop id="video-background" muted plays-inline>
            <source src="../../assets/timeLapseVideoOfCloudsAndSun.mp4" type="video/mp4">
        </video>
        <div class="row">
            <div class="col-1">
                <div class="row justify-content-center">
                    <!-- <mat-list>
                        <mat-list-item>
                            <div class="row justify-content-center top-title">
                                Is a me.. Carlos !
                            </div>
                        </mat-list-item>
                        <mat-divider class="divider"></mat-divider>
                        <mat-list-item class="justify-content-center">
                            <div class="row justify-content-center botton-title">
                                Software Developer
                            </div>
                        </mat-list-item>
                    </mat-list> -->
                </div>
            </div>
            <div class="col-2">
                <div class="title ">
                    <div class="row">
                        I'm Carlos
                    </div>
                    <div class="row ">
                        Good to have you here !
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>