<!-- <app-navbar></app-navbar> -->
<div class="overlay-info-component animated" [ngClass]="{'fadeInUp': navbarService.overlayStatus, 'fadeOutDown': !navbarService.overlayStatus}">
    <div class="overlay-info-container">
        <div class="row full-height">
            <div class="picture-column">
                <div class="inner-left-column full-width">
                    <div class=" row justify-content-center ">
                        <img class="banner-profile-picture " src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/19437215_10156297028102564_3645964650910157043_n.jpg?_nc_cat=0&oh=2fe2e7df62f01d9c8a1a1002a130f9c9&oe=5BEF64EC ">
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="picture-title">Carlos Gonzalez</div>
                    </div>
                </div>

            </div>
            <div class="info-column ">
                <div class="inner-right-menu ">
                    <div class="row info-font">
                        <div class="links ">About</div>
                    </div>
                    <div class="row info-font ">
                        <div class="links ">Contact</div>
                    </div>


                </div>


            </div>

        </div>


    </div>
</div>