<!DOCTYPE html>
<div class="botton-banner-component">
    <div class="botton-banner-container">
        <div class="row footer-row">
            <div class="fotter-info-col">
                <div class="ml-5">
                    Copyright © 2018 Carlos Gonzalez | All Rights Reserved
                </div>
            </div>
            <div class="fotter-social-twitter-col ">

                <a href="https://twitter.com/carlsgon" target="blank"><i class="fa fa-twitter cursor-pointer" aria-hidden="true"></i></a>
            </div>
            <div class="fotter-social-insta-col">
                <a href="https://www.instagram.com/carlgonz0/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="fotter-social-facebook-col">
                <a href="https://www.facebook.com/profile.php?id=638067563" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>

        </div>

    </div>


</div>